In [6]:
import pandas as pd

In [9]:
def openingdata(FileName):
    data = pd.read_csv('C:/Users/20193317/OneDrive/Data Science Year 2/Data Cahllenge 2/Data/'
                       +FileName+'.csv', error_bad_lines=False,decimal=',');
    return data

In [11]:
promotions_csv = openingdata('promotions')

     week   category product_id               description  discount
0       1  vegetable       v_14      Biologische knoflook        30
1       1  vegetable        v_2                 Courgette         5
2       1  vegetable       v_16  Biologische kikkererwten        10
3       1  vegetable       v_12     Biologische courgette        15
4       1      bread       b_41           Chinois brioche        30
..    ...        ...        ...                       ...       ...
775    52  vegetable        v_5                   Paprika        10
776    52       meat        m_2      Gerookte spekreepjes        35
777    52  vegetable       v_32  Buitenbeentjes komkommer        10
778    52       meat       m_12   Unox Gelderse rookworst        30
779    52       meat       m_21        gerookt onbijtspek        30

[780 rows x 5 columns]